{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss",
    "stylelint-config-rational-order"
  ],
  "syntax": "scss",
  "rules": {
    "no-descending-specificity": null,
    "declaration-colon-newline-after": null
  }
}
