<div class="page_article">
  <div class="article-card">
    <div class="article-wrapper">
      <h1 class="article-title">{{ article.title }}</h1>
      <h4 class="article-time">{{ article.time }}</h4>
      <div class="article-content marked-card" [innerHTML]="html | safeHtml"></div>
      <div class="article-info clearfix">
        <div class="float-right article-author">
          <img src="../../../assets/img/avatar.jpg" class="logo" />
          <h3 class="brand-author">{{ siteConfig.author }}</h3>
        </div>
      </div>
      <div class="article-tags clearfix">
        <a
          class="float-left tag-btn"
          *ngFor="let tag of article.tags; index as i"
          [ngStyle]="{ backgroundColor: siteConfig.tagColors[i] }"
          >{{ tag }}</a
        >
      </div>
    </div>
    <div class="article-nav" [ngStyle]="{ top: pocTop + 'px' }">
      <h3 class="nav-level-3 nav-title">TOC</h3>
      <a
        *ngFor="let h of headers"
        class="text-ellipsis nav-item nav-level-{{ h.level }}"
        [ngClass]="{ active: activeHeader === h.number }"
        (click)="scrollToHeader(h)"
        >{{ h.number + '. ' + h.text }}</a
      >
    </div>
  </div>
  <div class="article-page-links clearfix">
    <div class="article-page-link-pre float-left">上一篇</div>
    <div class="article-page-link-next float-right">下一篇</div>
  </div>
</div>
